@import "tailwindcss";

/********** Global Styles **********/

:root {
	--primary-color: #199ba9;
	--secondary-color: #949599;
	--accent-color: #34c8b0;
	--background-color: #ffffff;
	--text-color: #1b1b1b;
	--primary-light: #f6fafa;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

/* Utility classes */
.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-accent {
	background-color: var(--accent-color);
}

.bg-primary-light {
	background-color: var(--primary-light);
}

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-accent {
	color: var(--accent-color);
}
